body {
    /*background: linear-gradient(90deg, #ded3c4, #e8c6e6);*/
    margin: 0;

    background-attachment: scroll;

    background-position: center;
    background-repeat: repeat;
    background-size: contain;
}

html {
    padding: 0;
}

.page-content {
    backdrop-filter: blur(100px);
    font-size: 1.1rem;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 0;
}

.content {
    margin: 0;
    padding: 2em 2em;
}

section {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

#sidebar {
    flex-shrink: 0;
    position: sticky;
    top: 64px;
    width: 20vw;
    height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    overflow: scroll;
    background-color: #f6f6f6;
}

.plates {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
}

.plate {
    display: flex;
    flex: 50% 50% 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20em;
    height: 14em;
}

.plate img {
    width: 30%;
}

.plate h3 {
    color: black;
    text-shadow: none;
}

.command {
    display: flex;
    flex: 50% 50% 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5em;
}

button {
    border: solid 5px #0000;
}

button:hover {
    background: #42aaff;
    color: #FFB542;
    border: solid 5px #FFB542;
}
