.plates {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
}

.page-content {
    font-size: 1rem;
}

.plate {
    display: flex;
    flex: 50% 50% 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20em;
    height: 14em;
}

.plate img {
    width: 30%;
}

.plate h3 {
    color: black;
    text-shadow: none;
}

.command {
    display: flex;
    flex: 50% 50% 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5em;
}

.page-content {
    border-radius: 2em;
    background: linear-gradient(90deg, #ded3c4, #e8c6e6);
    padding: 2em 2em;
}