*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Minecraft;
    src: url(/src/fonts/Minecraft_Rus/minecraft.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url(/src/bg.png);
    background-attachment: fixed;

    /* Add the blur effect */
    filter: blur(0.5px);
    -webkit-filter: blur(0.5px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100vw;
    padding: 0.5em 1em;
    gap: 1em;
}

.logo {
    overflow: hidden;
    background-color: #0000;

    font-family: Minecraft, serif;

    color: #f2f2f2;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    font-size: 22px;
}

nav {
    margin-top: auto;
    margin-bottom: auto;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

nav li {
    width: max(10vw,6em);
    height: 20px;
    font-family: Minecraft, serif;
    list-style: none;
    display: block;
    padding: auto;
    text-align: center;
}

nav a {
    margin: auto;
    transition: font-size 300ms;
    text-decoration: none;
    color: white;
}

nav li:hover a {
    font-size: 1.2em;
}

.button {
    float: right;
    padding-right: 0;
    margin-right: .5%;
}

.button a, button {
    transition-property: color, background-color;
    transition-duration: 300ms;
    display: block;
    font-family: Minecraft, serif;
    padding: 1em;

    border: none;
    border-radius: 10px;
    color: #42aaff;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    background-color: #FFB542;
}

.button a:hover, button:hover {
    background: #42aaff;
    color: #FFB542;
}

.page-content {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    color: #42AAFF;
    font-family: Minecraft, serif;
    font-size: 22px;
    padding: 1em;
    width: 60%;
}

.page-content h1 {
    font-size: 45px;
}

.page-content h2 {
    font-size: 28px;
}

h1, h2 {
    margin-top: 1em;
    color: #ffb542;
}

.mineice-text {
    margin-top: 200px;
    display: inline-block;
}

.points {
    color: #ffb542;
    letter-spacing: 0.33em;
}

.smaller-text {
    font-size: 0.6em;
}

#ip {
    width: auto;
}

p {
    margin-bottom: .7em;
}

.ip-address {
    display: inline-block;
    border: 5px solid #000000;
    border-radius: 0.5em;
    padding: 0.3em;
    background-color: #f2f2f2;
}

.hardware {
    display: flex;
    flex-direction: row;
    padding: .5em;
    gap: 2em;
}

.hardware .block {
    height: 180px;
}

.hardware .block div {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.block {
    border-radius: 1.5em;
    display: flex;
    flex-direction: row;
    color: #000;
    background: linear-gradient(45deg, #4fb0ffdb, #008cffdb);
    padding: 1.5em;
    gap: 1.5em;
}

.block img {
    height: 100%;
}

.social-block {
    display: flex;
    flex-direction: row;
}

.social-discord {
    background: #7289DA;
    color: #fff;
}

a {
    text-decoration: none;
    color: unset;
}

@media screen and (max-width: 600px) {
    nav ul {
        display: none;
    }

    .page-content h1 {
        font-size: 28px;
    }
    
    .page-content h2 {
        font-size: 16px;
    }

    .page-content {
        font-size: 14px;
    }

    .social-block {
        flex-direction: column;
    }

    .hardware {
        flex-direction: column;
    }
}