{% extends 'mineice.j2' %}

{% block title %} Донат {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/donate.css') }}" />
{% endblock %}

{% block scripts %}
{% endblock %}

{% block navbar %}
<ul>
    <li><a href="/">Главная</a></li>
</ul>
{% endblock %}


{% block content %}
<div class="animation-trigger">
    <h1 id="description" class="animation-left">Донат</h1>
</div>
<div class="animation-trigger">
    <div class="block animation-left">
        Мы очень благодарны если вы поддержите наш сервер. В
        качестве благодарности ваш ник в игре будет указан в
        лидерборде донатеров и в дискорде. Обязательно укажите свой
        ник в игре и в дискорде в комментариях при оплате.
    </div>
</div>
<div class="animation-trigger">
    <h2 class="animation-left">Реквизиты для поддержки:</h2>
</div>
<div class="animation-trigger">
    <div id="card" class="block animation-left">
        <div class="bank">Сбербанк</div>
        <div class="card-number">2202 2025 7015 5113</div>
        <div class="name">Жуков Артем Геннадьевич</div>
    </div>
</div>
<div class="animation-trigger">
    <h2 class="animation-left">
        Большое спасибо за поддержку!
    </h2>
</div>
{% endblock %}