{% extends 'mineice.html' %}

{% block title %} Вики {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/wiki.css') }}" />
{% endblock %}

{% block scripts %}
{% endblock %}

<!--TODO add bootstrap scroll spy -->

{% block navbar %}
<ul>
    <li><a href="/wiki">Wiki</a></li>
    <li><a href="/">Главная</a></li>
    <li><a href="#description">Описание</a></li>
    <li><a href="#address">Играть</a></li>
    <li><a href="#social">Соцсети</a></li>
</ul>
{% endblock %}



{% block content %}
<h1 id="description">Wiki</h1>
<div class="plates">
    {% for category in data['categories'] %}
    <div id="{{category['id']}}_plate">
        <a href="#{{category['id']}}">
            <div class="block plate hover-trigger">
                <img class="rotate180y" src="{{ url_for('static', filename=category['img']) }}" alt="cube" />
                <h3>
                    {{ category['name'] }}
                </h3>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% for category in data['categories'] %}
<div id="{{category['id']}}" class="anchor"></div>
<h2 class="category">
    {{ category['name'] }}
</h2>
<div class="block">
    <p>
        {{ category['desc'] }}
    </p>
</div>
{% if category['hasCommands'] %}
<h3>
    Комманды
</h3>
<div class="plates">
    {% for command in category['commands'] %}
    <div class="block command hover-trigger" id="{{command['id']}}_button">
        <span class="scale120">
            {{ command['canonical'] }}
        </span>
    </div>
    {% endfor %}
</div>
{% for command in category['commands'] %}

<h2 class="category">
    {{ command['canonical'] }}
</h2>
<div class="block">
    <p>
        {{ command['desc'] }}
    </p>
</div>

<div class="plates category">
    {% for variation in command['variations'] %}
    <div class="block command hover-trigger" id="{{command['id']}}_button">
        <span class="scale120">
            {{ variation['cmd'] }}
        </span>
    </div>
    {% endfor %}
</div>

{% for variation in command['variations'] %}
<h2 class="category">
    {{ variation['cmd'] }}
</h2>
<div class="block">
    <p>
        {{ variation['desc'] }}
    </p>
</div>
{% endfor %}
{% endfor %}
{% endif %}
{% endfor %}
{% endblock %}